.actions-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start_game {
  margin-top: 10px;
  margin-bottom: 25px;
  animation: blinker 1.5s linear infinite;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
